.fontPoiret {
    font-family: 'Poiret One', cursive;
}

.fontAmaranth {
    font-family: 'Amaranth', sans-serif;
}

.image-bg {
    background-image: url("../assets/images/food.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    margin: 0px;
    padding: 0px !important;
    width: 100%;
}

.logo {
    background-color: white;
    position: absolute;
    opacity: 0.8;
    margin: 0 auto;
}

.logo>h2 {
    text-align: center;
    margin: 0px;
    padding: 10px 10px 0px 10px;
}

.logo>p {
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.text1 {
    font-size: 30px;
    text-align: center;
    color: #e91e63;
    margin: 0px;
}

.text2 {
    font-size: 20px;
    color: #8bc34a;
}

.button {
    background-color: #e91e63 !important;
}

.w-img {
    width: 100%;
    margin: 0px;
}

.btn-add {
    padding-top: 40px !important;
}

.pink {
    background-color: #e91e63 !important;
}

.hr-text {
    width: 100% !important;
    height: 2px !important;
    background-color: #8bc34a;
    border: none;
}

hr {
    width: 25% !important;
    height: 3px !important;
    background-color: #8bc34a;
    border: none;
}


/*estilos de la vista "Detalles de Restaurantes"*/

.restaurant {
    background-image: url("../assets/images/restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    margin: 0px;
    padding: 0px !important;
    width: 100%;
}

.name-restaurant {
    background-color: #e91e63;
    color: white;
    padding: 10px;
}

.card {
    padding: 10px;
}

.color-star {
    color: #e91e63;
    padding-top: 20px;
    padding-left: 10px;
}

.rating {
    display: inline-flex;
}

.rating>h5 {
    padding-left: 10px;
}